<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.rateit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rateit_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainSeries"
            android:label="@string/title_activity_main_series"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainCategorias"
            android:label="@string/title_activity_main_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainFilmes"
            android:label="@string/title_activity_main_filmes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditSerie"
            android:label="@string/title_activity_edit_serie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditFilme"
            android:label="@string/title_activity_edit_filme"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.rateit.EditFilme" />
        </activity>
        <activity
            android:name=".EditCategoria"
            android:label="@string/title_activity_edit_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DelSerie"
            android:label="@string/title_activity_del_serie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DelFilme"
            android:label="@string/title_activity_del_filme"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.rateit.MainFilmes" />
        </activity>
        <activity
            android:name=".DelCategoria"
            android:label="@string/title_activity_del_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddSerie"
            android:label="@string/title_activity_add_serie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFilme"
            android:label="@string/title_activity_add_filme"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.rateit.MainFilmes" />
        </activity>
        <activity
            android:name=".AddCategoria"
            android:label="@string/title_activity_add_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".RateItContentProvider"
            android:authorities="pt.ipg.rateit"
            android:exported="false" />
    </application>

</manifest>