<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.rateit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaCategorias"></activity>
        <activity android:name=".MainCategorias" />
        <activity android:name=".DelCategoria" />
        <activity android:name=".EditCategoria" />
        <activity android:name=".AddCategoria" />
        <activity android:name=".ListaSeries" />
        <activity android:name=".ListaFilmes" />
        <activity android:name=".DelSerie" />
        <activity android:name=".EditSerie" />
        <activity android:name=".AddSerie" />
        <activity android:name=".DelFilme" />
        <activity android:name=".EditFilme" />
        <activity android:name=".AddFilme" />
        <activity android:name=".MainSeries" />
        <activity android:name=".MainFilmes" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<provider
            android:authorities="pt.ipg.rateit"
            android:name=".RateItContentProvider"
            android:exported="false" />
    </application>

</manifest>